<div class="flex flex-col w-full border-2 bg-silver bg-opacity-70 border-dashed rounded-lg p-4">
    <div class="flex flex-col m-2 my-4">
        <h1 class="font-bold ml-4 text-lg">¿Estás seguro que deseas eliminar su perfil como ofertante?</h1>
        <p class="text-justify">Si eliminas tu perfil como ofertante perderás los eventos asociados a tu perfil y estos
            serán eliminados de la web. Esta cuenta pasará a ser una cuenta de usuario ¿Deseas continuar?</p>
    </div>
    <div class="m-2 my-4">
        <button type="button" (click)="removeBidder()"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
            Continuar
        </button>
    </div>
</div>