<div class="flex flex-col w-full border-2 bg-silver bg-opacity-70 border-dashed rounded-lg p-4">
    <div class="flex flex-col m-2 my-4">
        <h1 class="font-bold ml-4 text-lg"><span class="text-2xl">1. </span>Registro y Aceptación</h1>
        <p class="text-justify">Al completar el proceso de registro, usted certifica que la información proporcionada es
            veraz y exacta. Usted
            acepta que cualquier falsificación o inexactitud en la información puede resultar en la suspensión o
            cancelación
            de su cuenta.</p>
    </div>
    <div class="flex flex-col m-2 my-4">
        <h1 class="font-bold ml-4 text-lg"><span class="text-2xl">2. </span>Responsabilidades del Ofertante</h1>
        <p class="text-justify">Usted se compromete a publicar ofertas y eventos que cumplan con todas las leyes y
            regulaciones aplicables.
            Usted garantiza que tiene todos los derechos y autorizaciones necesarios para ofrecer los eventos
            publicados.
            Usted es responsable de gestionar y entregar los eventos ofertados según los términos especificados en cada
            oferta.</p>
    </div>
    <div class="flex flex-col m-2 my-4">
        <h1 class="font-bold ml-4 text-lg"><span class="text-2xl">3. </span>Calidad y Cumplimiento</h1>
        <p class="text-justify">Usted se compromete a ofrecer eventos que cumplan con los estándares de calidad
            descritos en las ofertas.
            Usted acepta resolver cualquier disputa o reclamo relacionado con los eventos ofertados de manera justa y
            oportuna.</p>
    </div>
    <div class="flex flex-col m-2 my-4">
        <h1 class="font-bold ml-4 text-lg"><span class="text-2xl">4. </span>Comisiones y Pagos</h1>
        <p class="text-justify">Usted acepta que la plataforma puede cobrar comisiones sobre los eventos vendidos a
            través de la misma.
            Usted se compromete a cumplir con los términos de pago y las políticas de comisión establecidos por la
            plataforma.</p>
    </div>
    <div class="m-10">
        <button type="button" (click)="createBidder()"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Aceptar y continuar
        </button>
    </div>
</div>