<section class="flex justify-center items-center h-screen">
    <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 flex justify-end items-center">
            <img class="max-w-xs" src="../../../../assets/media/404-not-found.png" alt="404 Not Found">
        </div>
        <div class="md:w-1/2 flex flex-col items-start">
            <h1 class="text-6xl md:text-8xl text-rose-600 font-bold mb-4">404</h1>
            <h2 class="text-2xl md:text-3xl font-semibold">Page Not Found</h2>
        </div>
    </div>
</section>
